*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr;
}
header {
  padding: 0.5rem 0.7rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid gray;
}
.stages_wrapper {
  display: flex;
  background-color: rgb(248, 249, 251);
  overflow-y: auto;
}
.create-task-button {
  outline: none;
  border: 1px solid #08cf65;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  color: #08cf65;

  &:hover {
    color: white;
    background-color: #08cf65;
    cursor: pointer;
  }
}
